/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* 这里有个非常容易忽视的点
    .topbar .welcome span,a {
    font-size: 12px;
    color: #666666;
    }        
    选中的是welcome类后代span，
    和所有a元素，在写顶部导航时，
    a元素一只没有继承父元素，是因为这
    段代码，改为：
    .topbar .welcome span,.welcome a {
    font-size: 12px;
    color: #666666;
    }
*/
/* 基本没啥问题,伪元素选择器li：first-child（不是说里li的第一个孩子，而是第一个儿子li元素） */
/* 下面这样写更好折叠 */
/* #region顶部导航条start */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}
.topbar .welcome {
    height: 30px;
    line-height: 30px; 
    font-size: 0px;
} 
.topbar .welcome span,.welcome a {
    font-size: 12px;
    color: #666666;
}
.welcome .welcomeyou {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666666;

}
.welcome .register {
    padding-left: 10px;
}
.topbar-nav .list li {
    float: left;
}
.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}
.topbar-nav a {
    padding: 0 15px;
    border-right: 1px solid #666666;
}
.topbar-nav li:first-child a {
    padding-left: 0;
}
.topbar-nav li:last-child a {
    padding-right: 0;
    border:0;
}
/* #endregion顶部导航条end */


/* #region头部start */
.header {
    height: 120px;
    /* background-color: skyblue; */
}
.header form {
    /* 不知道为啥，写出来就是会出错 */
    /* height: 120px; */
    margin-top: 42px;
    font-size: 0;
}
.header form input {
    height: 34px;
    width: 508px;
    border: 1px solid #DD302D;
}
.header form button {
    height: 36px;
    width: 80px;
    background-color: #DD302D;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
}
/* #endregion头部end */

/* #region主导航start */
.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.item-classify {
    height: 48px;
    width: 190px;
    text-align: center;
    background: #DD302D;
    line-height: 48px;
    font-size: 16px;
    color: #fff;
}
.main-nav-list {
    height: 48px;
    line-height: 48px;
}
.main-nav ul li {
    float: left;
    margin: 0 10px;
    font-size: 0;
    font-size: 16px;
    color: #333333;
}
/* #endregion主导航end */

/* #region主要内容区start */
.main {
    margin-top: 10px;
}
.aside-nav {
    width: 190px;
    background-color: #F4F4F4;
    height: 458px;
    position: relative;
}
.main .aside-nav li:first-child {
    margin-top: 5px;
}
.main .aside-nav li {
    font-size: 14px;
    height: 20px;
    padding: 4px 0;
    padding-left: 16px;
    color:#333333;
}
.main .aside-nav li:hover {
    background-color: #DD302D;
}
.main .aside-nav li:hover>a {
    color: #fff;
}
.main .aside-nav li .second-menu {
    width: 700px;
    height: 458px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 190px;
    display: none;
}
/* 之前这里没写对 */
.main .aside-nav li:hover .second-menu {
    display:block;
}
.second-menu dl {
    height: 36px;
    line-height: 36px;
}
.second-menu dl:first-child {
    margin-top: 10px;
}
.second-menu dt {
    float: left;
    width: 70px;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: bold;
}
.second-menu dd {
    float: left;
}
.second-menu dd a {
    padding:0 10px;
    border-left: 1px solid #999999;
}
.banner {
    width: 690px;
    height: 458px;
    background-color: skyblue;
    margin: 0 10px;
}
.aside-other {
    /* background-color: green; */
    width: 290px;
    height: 458px;
}
.aside-other .ao-message {
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    padding: 0 14px;
}
.aside-other .ao-more {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;
}
.aside-other .ao-more span {
    font-size: 14px;
}
.aside-other .ao-more a {
    font-size: 12px;
}
.aside-other .ao-sale li {
    height: 28px;
    line-height: 28px;
}
.aside-other .ao-nav {
    width: 290px;
    height: 290px;
    margin-top: 10px;
    overflow: hidden;
}
.aside-other .ao-nav li {
    height: 70px;
    width: 48px;
    float: left;
    margin: 0 11px;
    text-align: center;
    cursor: pointer;
}
.aside-other .ao-nav li:first-child {
    margin-left: 16px;
}
.aside-other .ao-nav li>div {
    height: 48px;
    width: 48px;
}
.aside-other .ao-nav li>span {
    font-size: 14px;
}
.aside-other .ao-nav ul:first-child {
    margin-top: 16px;
}
.aside-other .ao-nav ul:nth-child(2) {
    margin-top: 16px;
    margin: 17px 0;
}
.aside-other .ao-nav ul:nth-child(1) li:nth-child(1) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: 0 0;
}
.aside-other .ao-nav ul:nth-child(1) li:nth-child(2) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -48px 0;
}
.aside-other .ao-nav ul:nth-child(1) li:nth-child(3) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -96px 0;
}
.aside-other .ao-nav ul:nth-child(1) li:nth-child(4) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -144px 0;
}
.aside-other .ao-nav ul:nth-child(2) li:nth-child(1) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: 0 -48px;
}
.aside-other .ao-nav ul:nth-child(2) li:nth-child(2) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -48px -48px;
}
.aside-other .ao-nav ul:nth-child(2) li:nth-child(3) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -96px -48px;
}
.aside-other .ao-nav ul:nth-child(2) li:nth-child(4) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -144px -48px;
}
.aside-other .ao-nav ul:nth-child(3) li:nth-child(1) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: 0 -96px;
}
.aside-other .ao-nav ul:nth-child(3) li:nth-child(2) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -48px -96px;
}
.aside-other .ao-nav ul:nth-child(3) li:nth-child(3) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -96px -96px;
}
.aside-other .ao-nav ul:nth-child(3) li:nth-child(4) div {
    background-image: url('../images/精灵图-侧边功能.png');
    background-position: -144px -96px;
}
/* #endregion主要内容区end */

/* #region秒杀区start */
.seckill {
    margin-top: 10px;
}
.seckill img {
    float: left;
    margin-right: 11px;
    cursor: pointer;
}
.seckill img:last-child {
    margin-right: 0;
}
/* #endregion秒杀区end */

/* #region楼层start */
.floor {
    margin-top: 48px;
}
.floor-nav {
    height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}
.floor-nav .floor-name {
    font-size: 20px;
}
.floor-nav .floor-list li {
    float: left;
    line-height: 30px;
    font-size: 16px;
}
.floor-nav .floor-list li a {
    padding: 0 10px;
    border-right: 1px solid #666666 ;
}
.floor-nav .floor-list li:first-child a {
    padding-left: 0;
}
.floor-nav .floor-list li:last-child a {
    padding-right: 0;
    border: 0;
}
.floor-info .item {
    float: left;
}
.floor-info .item1{
    width: 190px;
    height: 392px;
    background-color: #F4F4F4;
    padding: 20px;
}
.floor-info .item1-list {
    margin-bottom: 30px;
}
.floor-info .item1-list li {
    width: 90px;
    height: 22px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 16px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.floor-info .item1-list li:nth-child(2n) {
    float: right;
}
.floor-info .item1-list li:nth-child(3),
.floor-info .item1-list li:nth-child(4) {
    margin: 14.4px 0;
}

.floor-info .item2{
    width: 340px;
    height: 432px;
    background-color: skyblue;
}
.floor-info .item3,
.floor-info .item4,
.floor-info .item5 {
    width: 206px;
    height: 432px;
}
.floor-info .item3,
.floor-info .item4 {
    border-right: 1px solid #e2e2e2;

}
.floor-info .item3 img,
.floor-info .item4 img, 
.floor-info .item5 img {
    border-bottom: 1px solid #e2e2e2;
}
/* #endregion楼层end */
